<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.amazonaws.demo.personalfilestore"
          android:versionCode="1"
          android:versionName="1.1.0">
          
    <uses-sdk android:minSdkVersion="14" /> 
          
    <!-- 权限：需要访问INTERNET -->      
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    
    <application android:icon  = "@drawable/icon" 
                 android:label = "@string/app_name" 
                 android:name  = "S3PersonalFileStoreApplication">
        
        <!-- 首页 -->
        <activity android:name="com.amazonaws.demo.personalfilestore.S3PersonalFileStore"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name = "com.amazonaws.demo.personalfilestore.Login"></activity>        
        
	   <activity android:name = "com.amazonaws.demo.personalfilestore.s3.S3BucketView"></activity>
	   <activity android:name = "com.amazonaws.demo.personalfilestore.s3.S3ObjectView"></activity>	
	   <activity android:name = "com.amazonaws.demo.personalfilestore.s3.S3AddObjectView"></activity>
	   
	   <activity android:name = "com.amazonaws.demo.personalfilestore.filebrowser.FileBrowserActivity"></activity>
	   <activity android:name = "com.amazonaws.demo.personalfilestore.filebrowser.FileSingleImageActivity"></activity>
			
    </application>
</manifest> 
